// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background:{
    image: url('retina_wood.png');
  }
  .content {
    background: {
      color: rgba(249,249,249,0.5);
    }
    #new_chick_name {
      width:225px;
    }
  }
}
#chick_list {
  line-height:1.5;
  .chick {
    .mood {
      text-align:center;
    }
    .name {
     &:hover {
       text-decoration:underline;
     }
    }
    .close {
      font:{
        size: 22px;
      }
      float:none;
      display:none;
    }
  }
}
::-moz-selection {
  background:#ff0;
  color:#000
}
::selection {
  background:#ff0;
  color:#000
}

#playground {
  margin-left: 40px;
  height:400px;
  background:{
    image: url('milk.png');
    repeat:no-repeat;
    position:center center;
  }
}
.tooltip_class {
  font:{
    family: "Source Code Pro";
  }
}


