// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background:{
    image: url('retina_wood.png');
  }
  .content {
    background: {
      color: rgba(238,238,238,0.5);
    }
    #new_chick_name {
      width:224px;
    }
  }
}
#chick_list {
  line-height:1.5;
  padding:{
    left:7px;
  }
  .chick {
    .name:hover {
      text-decoration:underline;
    }
    .details {
      font: {
        size:12px;
      }
    }
    .close {
      float:none;
      display:none;
    }
  }
}
::-moz-selection {
  background:#FF5E99;
  color:#fff
}
::selection {
  background:#FF5E99;
  color:#fff
}

#playground {
  margin-left: 40px;
  height:400px;
  background:{
    image: url('milk.png');
    repeat:no-repeat;
    position:center center;
  }
}


