// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chick {
  font: {
    size: 22px;
  }
  line-height:1.5;
  .name:hover {
    text-decoration:underline;
  }
  .details {
    text-aling:right;
  }
  .close {
    margin:5px 0 0 0;
    display:none;
  }
}